@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans';
}

h1 {
  margin: 1rem 0;
  text-align: center;
}

.post {
  padding: 1rem;
  border: 1px solid lightgray;
  width: 80%;
  margin: 1rem auto;
}

.form {
  width: 60%;
  margin: 1rem auto;
}
